<!-- Header Area -->
<div class="breadcrumb-area" data-black-overlay="7">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                <div class="cr-breadcrumb text-center">
                    <h1>About Us</h1>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration passages of Lorem Ipsum available, but the majority</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--// Header Area -->
<div class="pg-blog-list-area section-padding-lg bg-white">
    <div class="container">
        <div class="pg-blog-list">
            <div class="row">
                <div class="col-xl-10 offset-xl-1 col-12 offset-0">

                    <!-- Single BLog -->
                    <article class="pg-blog-x">
                        <div class="pg-blog-content">
                            <h2>
                                Welcome to the NoteBlockchain Foundation
                            </h2>
                            <p>The Note Foundation was created by Note's founder Ethan Shen to bring
                                together a group of trusted individuals that will help grow the project.
                                The Foundation will work ethically, honestly and with full transparency
                                to the community. </p>
                            <p>Ethan, while not a member himself, selected initial members based on
                                participation with the project and qualifications, however the Foundation
                                is not a closed group, new members can be added when nominated and voted
                                in by existing members with a 75% approval.
                                Even though the group can add new members it will not be more than 8.
                            </p>
                            <p>Members can also be removed from the group for misconduct, non participation,
                                disruption, resignation or acting against the interests of the project.
                            </p>
                            <p><strong>Current Members are</strong>
                            <ul>
                                <li>Ronny Ezcason</li>
                                <li>David Inch</li>
                                <li>Brennan Morrisey</li>
                                <li>Seth Taylor</li>
                                <li>Ramesh Vishveshwar</li>
                            </ul>
                            </p>
                            <p>Each member will have a budget of five million Note per month given to the
                                Foundation by Ethan from the premine to advance and grow the project as they
                                see fit. Community suggestion to the Foundation are encouraged and will be
                                considered for implementation at each monthly meeting. Each member's use of
                                the five million Note will be fully transparent and will be published monthly
                                for public scrutiny.
                            </p>
                            <p>Each member is required to attend a monthly online meeting to discuss project
                                developments, such as network security, network growth, marketing, spending,
                                community suggestions and report progress in each area being worked on individually.
                                The outcome of these meetings will also be published for transparency.
                            </p>
                            <p>We hope you are as excited about Note's future as we are and continue to have your support.
                            </p>
                            <p>Thank you,</br>
                                The Note Foundation </p>
                        </div>
                    </article>
                    <!--// Single BLog -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--// Blog List -->

<!-- Focus Area -->
<section class="services-area section-padding-lg bg-grey">
    <div class="container">
        <div class="row justify-content-center services-grid">

            <!-- Focus -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="service service-style-2 text-center">
                    <div class="service-icon">
                        <span>
                            <i class="bi bi-globe3"></i>
                        </span>
                        <span>
                            <i class="bi bi-globe3"></i>
                        </span>
                    </div>
                    <div class="service-content">
                        <h4>Marketing</h4>
                        <p>Spreading the word about NoteBC in social media and setting up new partnerships</p>
                    </div>
                </div>
            </div>
            <!--// Focus -->

            <!-- Focus -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="service service-style-2 text-center">
                    <div class="service-icon">
                        <span>
                            <i class="bi bi-heart-beat"></i>
                        </span>
                        <span>
                            <i class="bi bi-heart-beat"></i>
                        </span>
                    </div>
                    <div class="service-content">
                        <h4>Community Engagement</h4>
                        <p>Keeping the current userbase active through competitions and giveaways</p>
                    </div>
                </div>
            </div>
            <!--// Focus -->

            <!-- Focus -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="service service-style-2 text-center">
                    <div class="service-icon">
                        <span>
                            <i class="bi bi-radar"></i>
                        </span>
                        <span>
                            <i class="bi bi-radar"></i>
                        </span>
                    </div>
                    <div class="service-content">
                        <h4>Note Ecosystem</h4>
                        <p>Building supporting systems around the core Mobile App</p>
                    </div>
                </div>
            </div>
            <!--// Focus -->

        </div>
    </div>
</section>
<!--// Services Area -->