<!-- Breacrumb Area -->
<div class="breadcrumb-area" data-black-overlay="7">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                <div class="cr-breadcrumb text-center">
                    <h1>Contact Us</h1>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration passages of Lorem Ipsum available, but the majority</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--// Breacrumb Area -->

<!-- Page Content -->
<main class="page-content">

    <!-- Contact Us Area -->
    <div class="pg-contact-us-area section-padding-lg bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pg-contact-form mr-0 mr-lg-3">
                        <div class="small-title">
                            <h2>Contact Form</h2>
                            <p>Use this form to get in touch with the foundation.</p>
                        </div>
                        <form id="contact-form" action="mail.php" method="post">
                            <div class="row no-gutters">
                                <div class="col-lg-6 col-md-6">
                                    <div class="single-input">
                                        <input type="text" name="name" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="single-input">
                                        <input type="email" name="email" placeholder="E-mail">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="single-input">
                                        <input type="text" name="phone" placeholder="Phone">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="single-input">
                                        <input type="text" name="subject" placeholder="Subject">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="single-input">
                                        <textarea name="message" cols="10" rows="4" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="single-input">
                                        <button class="cr-btn" type="submit">
                                            <span>Send Now</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="pg-contact-details">
                        <div class="small-title">
                            <h2>Quick contact</h2>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                        </div>
                        <ul>
                            <li class="single-quick-contact">
                                <h5>Phone Number</h5>
                                <p>
                                    <a href="tel:+88012659845">+88012659845</a>
                                    <a href="tel:+88012659864">+88012659864</a>
                                </p>
                            </li>
                            <li class="single-quick-contact">
                                <h5>E-Mail Address</h5>
                                <p>
                                    <a href="mailto:info@example.com">info@example.com</a>
                                    <a href="mailto:info@example.com">info@example.com</a>
                                </p>
                            </li>
                            <li class="single-quick-contact">
                                <h5>Our Address</h5>
                                <p>32/3 north south road, Wilon, new wrork</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row section-padding-top-xs">
                <div class="col-lg-6 offset-lg-3">
                    <div class="small-title text-center">
                        <h2>Contact Maps</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority Lorem Ipsum
                            available.
                        </p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="contact-map">
                        <div class="contact-google-map" id="google-map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Contact Us Area -->