<!-- Top Banner -->
<div class="banner-area banner-slider-active animated-slider-content cr-slider-navigation-1">

    <!-- Single Banner -->
    <div class="single-banner bg-image-3 fullscreen" data-black-overlay="6">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-12">
                    <div class="single-banner-content single-banner-content-parallax text-center">
                        <h3>Building</h3>
                        <h1>Strong communities</h1>
                        <p>The foundation will use funds to engage the #NoteSocial community through contests, giveaways and more.
                        </p>
                        <a href="#" class="cr-btn cr-btn-lg">
                            <span>Coming Soon</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Single Banner -->

    <!-- Single Banner -->
    <div class="single-banner bg-image-2 fullscreen" data-black-overlay="6">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-9 col-12">
                    <div class="single-banner-content single-banner-content-parallax">
                        <h3>Engaging</h3>
                        <h1>New Users</h1>
                        <p>Focus on building the user base on the platform and keep them coming back for more.
                        </p>
                        <a href="#" class="cr-btn cr-btn-lg">
                            <span>Coming Soon</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Single Banner -->

    <!-- Single Banner -->
    <div class="single-banner bg-image-1 fullscreen" data-black-overlay="6">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-9 col-12">
                    <div class="single-banner-content single-banner-content-parallax">
                        <h3>Expand</h3>
                        <h1>The Ecosystem</h1>
                        <p>Build a strong NoteBlockchain ecosystem from payment gateways, merchant integration and gamification.
                        </p>
                        <a href="#" class="cr-btn cr-btn-lg">
                            <span>Coming Soon</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Single Banner -->



</div>
<!-- //Top Banner -->

<!-- About Area -->
<section class="about-area bg-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-7 col-lg-6 col-12 order-2 order-lg-1">
                <div class="about-content about-content-2">
                    <h2>Introduction</h2>
                    <p>Started in Aug 2020, the <strong>NoteBlockchain Foundation</strong> comprises of a
                        board of NoteBlockchain supporters and visionaries who work closely with the community
                        to build the coin ecosystem.</p>
                    <p>Each board member might focus on one aspect of Note, such as marketing or community
                        engagement or developing new features.</p>
                    <ul class="cr-liststyle-1">
                        <li>Variations of passages of suffered alteration of majority duskam suffered</li>
                        <li>Many variations of passages of majority suffered </li>
                        <li>Variations of passages one of Lorem majority suffered alteration</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 offset-lg-0 col-md-8 offset-md-2 col-12 offset-0 order-1 order-lg-2">
                <div class="about-thumb about-thumb-3 mt-5">
                    <img class="wow slideInRight" data-wow-duration="2s" src="images/others/home-network.jpg" alt="skill area thumb">
                </div>
            </div>
        </div>
    </div>
</section>
<!--// About Area -->

<!-- Team Area -->
<section class="team-area section-padding-sm bg-white" id="team">
    <div class="container">

        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-12 offset-0">
                <div class="section-title text-center">
                    <h2>The Board</h2>
                </div>
            </div>
        </div>

        <div class="row team-wrap justify-content-center">

            <!-- Single Team -->
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="single-team">
                    <div class="team-thumb">
                        <a href="#">
                            <img src="images/team/ezca.png" alt="team image">
                        </a>
                    </div>
                    <div class="team-content text-center">
                        <div class="team-conetnt-info">
                            <h5>
                                <a href="#">Ronny Ezcason</a>
                            </h5>
                            <h6>@Ezca3</h6>
                        </div>
                        <div class="team-social-icons">
                            <ul>
                                <li class="twitter">
                                    <a href="https://twitter.com/Ezca3" target="_blank">
                                        <i class="bi bi-twitter-bird"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Single Team -->

            <!-- Single Team -->
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="single-team">
                    <div class="team-thumb">
                        <a href="#">
                            <img src="images/team/inchy.png" alt="team image">
                        </a>
                    </div>
                    <div class="team-content text-center">
                        <div class="team-conetnt-info">
                            <h5>
                                <a href="#">Davie Inch</a>
                            </h5>
                            <h6>@SuspectInch</h6>
                        </div>
                        <div class="team-social-icons">
                            <ul>
                                <li class="twitter">
                                    <a href="https://twitter.com/SuspectInch" target="_blank">
                                        <i class="bi bi-twitter-bird"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Single Team -->

            <!-- Single Team -->
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="single-team">
                    <div class="team-thumb">
                        <a href="#">
                            <img src="images/team/johnny.jpg" alt="team image">
                        </a>
                    </div>
                    <div class="team-content text-center">
                        <div class="team-conetnt-info">
                            <h5>
                                <a href="#">Brennan Morrisey</a>
                            </h5>
                            <h6>@john8chop</h6>
                        </div>
                        <div class="team-social-icons">
                            <ul>
                                <li class="twitter">
                                    <a href="https://twitter.com/john8chop" target="_blank">
                                        <i class="bi bi-twitter-bird"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Single Team -->

            <!-- Single Team -->
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="single-team">
                    <div class="team-thumb">
                        <a href="#">
                            <img src="images/team/seth.jpg" alt="team image">
                        </a>
                    </div>
                    <div class="team-content text-center">
                        <div class="team-conetnt-info">
                            <h5>
                                <a href="#">Seth Taylor</a>
                            </h5>
                            <h6>@fomobydick</h6>
                        </div>
                        <div class="team-social-icons">
                            <ul>
                                <li class="twitter">
                                    <a href="https://twitter.com/fomobydick">
                                        <i class="bi bi-twitter-bird"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Single Team -->

            <!-- Single Team -->
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="single-team">
                    <div class="team-thumb">
                        <a href="#">
                            <img src="images/team/ramesh.jpg" alt="team image">
                        </a>
                    </div>
                    <div class="team-content text-center">
                        <div class="team-conetnt-info">
                            <h5>
                                <a href="#">Ramesh Vishveshwar</a>
                            </h5>
                            <h6>@exobyte_tech</h6>
                        </div>
                        <div class="team-social-icons">
                            <ul>
                                <li class="twitter">
                                    <a href="https://twitter.com/exobyte_tech">
                                        <i class="bi bi-twitter-bird"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Single Team -->

            <!-- Single Team -->
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="single-team">
                    <div class="team-thumb">
                        <a href="#">
                            <img src="images/team/duncan.jpg" alt="team image">
                        </a>
                    </div>
                    <div class="team-content text-center">
                        <div class="team-conetnt-info">
                            <h5>
                                <a href="#">Duncan Marshall</a>
                            </h5>
                            <h6>@NakamotoNoteshi</h6>
                        </div>
                        <div class="team-social-icons">
                            <ul>
                                <li class="twitter">
                                    <a href="https://twitter.com/NakamotoNoteshi">
                                        <i class="bi bi-twitter-bird"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Single Team -->

        </div>
    </div>
</section>
<!--// Team Area -->